body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #feffdb;
    background-image: url(file:///Users/jess/Desktop/assignement%20/7C9BC8A1-F78A-464B-9F97-E25856854804.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fcffb3;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

header {
   background-color: #f8ffba;
    border-bottom: 1px solid #060d16;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #081f3f;
    font-weight: 500;
    font-size: 1.25rem;
    transition: color 0.2s;
}

.nav-links a:hover, .nav-links a.active {
    color: #225786;
}

Input[type="text"],
input[type="email"],
input[type="password"] {
    width:   25%; 
    box-sizing: border-box; 
    padding: 14px 16px; 
    font-size: 17px;
    color: #132a4a; 
    background-color: #ffffff;
    border: 1px solid #cbd5e1; 
    border-radius: 6px; 
    transition: all 0.2s ease-in-out; 
}

input::placeholder {
    color: #07172c; 
    font-weight: 500;
}

input:focus {
    border-color: #0a192f; 
    background-color: #f8fafc; 
    outline: none; 
}
